* {
  margin: 0;
  padding: 0; }

nav {
  font-size: 18px;
  font-weight: normal;
  background-color: #2a2e37;
  height: 20vh; }

body {
  background-color: #ebebeb;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #ebebeb; }

a:hover {
  color: #997d21; }

h1 {
  padding: 2rem;
  color: #997d21;
  font-size: 26px;
  text-align: center;
  font-weight: bold; }

h4 {
  font-size: 1rem;
  padding: 1rem;
  width: 70%;
  border-radius: 1rem;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%; }

h5 {
  padding: 1rem;
  font-size: 18px; }

li {
  text-decoration: none;
  list-style-type: none; }

.pie {
  background-color: #2a2e37;
  color: #ebebeb;
  padding-bottom: 4rem;
  padding-top: 4rem;
  height: 50vh;
  gap: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; }

.cover {
  background-image: url(./fotos/Agujas.jpg);
  background-size: cover;
  background-position: bottom;
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 3rem; }

.title {
  font-weight: bold;
  text-align: center;
  margin: 3rem auto;
  padding: 2rem 4rem;
  border-radius: 2rem;
  backdrop-filter: blur(3px) saturate(70%) contrast(55%) brightness(140%);
  color: #997d21;
  letter-spacing: 0.5rem; }

.presentation {
  font-weight: bold;
  margin: 3rem;
  padding: 3rem;
  border-radius: 2rem;
  backdrop-filter: blur(3px) saturate(70%) contrast(55%) brightness(140%); }

.menu {
  height: 15vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  position: relative; }
  @media (max-width: 760px) {
    .menu {
      gap: 0.5rem;
      font-size: 14px; } }

.bodyContact {
  background-image: url(./fotos/lechuza.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.parrafoContact {
  margin-top: 1rem;
  backdrop-filter: blur(3 px) saturate(70%) contrast(55%) brightness(140%);
  color: #2a2e37;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 2rem; }

.formContact {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem; }

.input {
  padding: 1rem;
  width: 25rem;
  font-style: italic;
  background-color: #ebebeb;
  border-radius: 1rem;
  font-size: 14px; }

.button {
  width: 10rem;
  padding: 0.5rem;
  background-color: #ebebeb;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  border-radius: 1rem; }

/*Grilla de autoridades*/
#grid {
  display: grid;
  background-color: #2a2e37;
  padding-top: 8rem;
  padding-bottom: 8rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  align-content: flex-start;
  text-align: center;
  gap: 5rem;
  color: #997d21;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 4rem; }
  @media (max-width: 760px) {
    #grid {
      display: flex;
      flex-direction: column; } }

.spotlight {
  grid-column-start: 1;
  grid-column-end: 4; }

p {
  text-align: justify;
  font-size: 14px; }

.coverSesiones {
  background-image: url(./fotos/sesion.jpeg);
  background-size: cover;
  background-color: gray;
  background-blend-mode: luminosity;
  background-position: bottom;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem; }

.sesiones {
  background-color: #2a2e37;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
  text-align: center; }

#grillaSesiones {
  display: grid;
  grid-template-columns: repeat(5, 1.3fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: #2a2e37; }

.listaVideos {
  padding: 1rem;
  color: #2a2e37;
  border-radius: 1rem;
  background-color: #997d21; }

.actividades {
  height: 50vh;
  background-color: #2a2e37; }

.coverComisiones {
  background-image: url(./fotos/Comisiones.jpeg);
  background-size: cover;
  background-color: gray;
  background-blend-mode: luminosity;
  background-position: bottom;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem; }

.parrafoComisiones {
  background-color: #ebebeb;
  backdrop-filter: blur(3 px) saturate(70%) contrast(55%) brightness(140%);
  color: #2a2e37;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bolder; }

.accordion-button {
  background-color: #997d21;
  color: #2a2e37;
  font-weight: bold;
  size: larger; }

.accordion-button:focus {
  z-index: 3;
  border-color: #9f842d;
  outline: 0;
  box-shadow: none; }

.accordion-body {
  background-color: #ebebeb;
  color: #2a2e37;
  font-size: 16px;
  font-weight: bold; }

@media only screen and (max-width: 768px) {
  #grillaSesiones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem; } }
